.nav-marg {
  margin-right: 5%;
  margin-left: 1%;
}

.navbar {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.half-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

.marg-10per {
  margin-top: 10%;
}

@media screen and (min-width: 768px) {
  .half-width {
    width: 50%;
  }
}
